<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SettingsManagerTests+Settings.SecurityKey" value="password" />
  </appSettings>
  <connectionStrings>
    <add name="SettingsManagerTests+Settings.ConnectionString" connectionString="Server=;Database=;Uid=;Pwd=;" />
  </connectionStrings>
</configuration>